<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.defate.mac.common_android">
    <application>
        <service
            android:name=".notification.services.BigTextIntentService"
            android:exported="false">
        </service>
    </application>
</manifest>